<!DOCTYPE html>
<html lang="en">
    <%- include ("header") %>

    <body>
        <%- include ("navbar") %>

        <!-- Main jumbotron for a primary marketing message or call to action -->

        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">It's time to go Rogue!</h1>
                <p>
                    Tired of boring, everyday web design?  So are we.  We at Rogue Design believe in creating innovative, eye-catching, responsive designs that will make your company stand out and buck expectations. 
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">View Our Work &raquo;</a>
                </p>
            </div>
        </div>

        <div class="container">

            <!-- Row of columns -->
            
            <div class="row">
                <div class="col-md-4">
                    <h2>Custom Websites</h2>
                    <p>
                        We work with you to build you a custom, responsive website that not only looks great but gets you the results you want.
                    </p>
                    <p>
                        <a class="btn btn-secondary" id="rowbtn" href="#" role="button">Learn More &raquo;</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Design</h2>
                    <p>
                       Our designers will help you create an impactful brand identity with beautiful brand assets designed specifically for your needs. 
                    </p>
                    <p>
                        <a class="btn btn-secondary" id="rowbtn" href="#" role="button">Learn More &raquo;</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Web Development</h2>
                    <p>
                        Business applications built just for you from Project Management to Point-of-Sales and everything in between.     
                    </p>
                    <p>
                        <a class="btn btn-secondary" id="rowbtn" href="#" role="button">Learn More &raquo;</a>
                    </p>
                </div>
            </div>

            <%- include ("footer") %>
        </div>

        <%- include ("scripts") %>
    </body>
</html>